
body {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    min-height: 100vh;
    margin:0;
    padding:0;
    background: linear-gradient(to right,  #abd8d7,rgb(92, 164, 184));
}
.Tampilan-1{
    display:flex;
    flex-direction:column;
    align-items: flex-start;    /* Mendorong semua isi ke sisi KANAN */
    padding:50px 100px 50px 40px;
    margin:0;
    background:linear-gradient(to right,rgb(181, 146, 146),rgb(64, 159, 197));
    border-radius:8px;
    box-shadow: 8px 7px 4px  rgb(46, 45, 45) ;
}

.Input-1{
    padding:10px 7px;
    padding-right:50px;
    background-color:rgb(255, 255, 255);
    border-radius:5px;
    font-size: 16px;
    box-shadow: 5px 7px 3px #1d2828;
    border:none;
    color:#000000;
    border:1px solid transparent;
    transition: transform 0.3s ease, border-color 0.3s ease;
    transform-origin: center left;
}

.Input-1:focus{
    transform:scale(1.1);
    border:1px solid blue;
    cursor: pointer;
    outline:none;
}
.Input-1::placeholder{
    opacity: 1;
}
.Input-1:hover{
    transform:scale(1.1);
    cursor: pointer;
    border:1px solid blue;
    z-index: 10;
}
.Lb-1{
    margin-bottom:0;
}
.Baris-Input{
    display:flex;
    flex-direction:row;
    align-items: center;
    margin-bottom:15px;
    font-size: 20px;
}
.Baris-Input label {
    width: 70px; 
    font-weight: bold;
}
.Button-1{
  background-color: transparent;
    color: #000000;
    border: 2px solid #9b59b6;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    
    /* 1. Kunci konteks posisi & stacking z-index */
    position: relative;
    display: inline-block;
    z-index: 1; 
    overflow: hidden; /* Memotong efek transisi agar rapi */
    
    /* 2. Posisikan ke kanan & beri transisi teks */
    align-self: flex-end;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.Button-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;          /* Mulai dari lebar 0 */
    height: 100%;
    background-color: #9b59b6;
    transition: width 0.3s ease;
    z-index: -1;
}

.Button-1:hover::after {
  width: 100%;
}

.Button-1:hover {
  color: white;
}